@import '../../styles//variables.scss';

.card {
    height: 550px;
    min-height: fit-content;
    max-width: 300px;
    min-width: fit-content;
    background-color: $backgroundColor;
    border-radius: 10px;
    box-shadow: (10px 10px 10px $backgroundShadow);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &__delete {
        width: 40px;
        height: 40px;
        transform: rotate(150deg);
        background-color: $deleteButtonBGC;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: -10px;
        right: -10px;
        border: none;
        opacity: .2;  
    }
    
    &__delete:hover {
        opacity: 1.2;
        transition: opacity 0.4s linear;
    }

    &__section {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        overflow: auto;
        
    }

    &__add {
        width: 100%;        
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        border: none;
        opacity: .2;
        background-color: $deleteButtonBGC;
    }

    &__add:hover {
        opacity: 1.2;
        transition: opacity 0.4s linear;
    }
}