$textColor: rgb(121, 106, 86);
$backgroundColor: rgba(255, 249, 255, 0.72);
$backgroundShadow: rgba(186, 179, 186, 0.80);
$deleteButtonBGC: rgba(229, 230, 227, 0.645);
$dragBackgroundColor: rgb(197, 5, 197);