@import '../../styles/variables.scss';

.boards {
    margin: 15px auto 66px;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 282px));
    align-items: stretch;
    justify-content: space-around;
    column-gap: 18px;
    row-gap: 21px;
    
    @media screen and (max-width: 1300px) {
            grid-template-columns: repeat(3, minmax(auto, 282px));
        }

    @media screen and (max-width: 883px) {       
            grid-template-columns: repeat(2, minmax(auto, 282px));     
    }
    
    @media screen and (max-width: 588px) {     
            grid-template-columns: repeat(1, minmax(auto, 282px));   
    }
}

.—ÅontrolPanel {
    width: 340px;    
    margin: auto;
    display: flex;
    
       
    &__input {
        width: 100%;
        height: 40px;
        border: 1px solid $textColor;
        border-radius: 6px;
        margin-right: 5px;
        padding: 0 10px;
    }    
    
    &__button {        
        background-color: $backgroundColor;
        border: 1px solid $textColor;
        border-radius: 6px;
    }
    &__button:hover {
        cursor: pointer;
    }
}
/* 
@media screen and (max-width: 1300px) {
    .main__boards {
        grid-template-columns: repeat(3, minmax(auto, 282px));
    }
} */

/* @media screen and (max-width: 883px) {
    .main__boards {
        grid-template-columns: repeat(2, minmax(auto, 282px));
    }
}

@media screen and (max-width: 588px) {
    .main__boards {
        grid-template-columns: repeat(1, minmax(auto, 282px))
    }
} */